<%
# Copyright 2010 Benjamin Lee Smith <benjamin.lee.smith@gmail.com>
#
# This file is part of CafePress Wrapper.
# CafePress Wrapper is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# CafePress Wrapper is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with CafePress Wrapper.  If not, see <http://www.gnu.org/licenses/>.
%>

<% content_for :title, 'funny, awesome, and badass climbing shirts' %>

<div id="stores">
  <% @stores.each do |store| %>
    <%= link_to store_path(store) do %>
      <div class="store">
        <% if store.cafepress_back_design_url %>
          <div class="front-image" style="background-color:#<%= store.design_background_color %>;">
            <%= image_tag(store.cafepress_design_url, :align => 'middle', :alt => store.description, :title => store.description) %>
          </div>
          <div class="back-image" style="background-color:#<%= store.design_background_color %>;display:none;">
            <%= image_tag(store.cafepress_back_design_url, :align => 'middle', :alt => store.description, :title => store.description) %>
          </div>
        <% else %>
          <div class="image" style="background-color:#<%= store.design_background_color %>;">
            <%= image_tag(store.cafepress_design_url, :align => 'middle', :alt => store.description, :title => store.description) %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="clear"></div>
</div>