<%
# Copyright 2010 Benjamin Lee Smith <benjamin.lee.smith@gmail.com>
#
# This file is part of CafePress Wrapper.
# CafePress Wrapper is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# CafePress Wrapper is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with CafePress Wrapper.  If not, see <http://www.gnu.org/licenses/>.
%>
<% content_for :title, @store.title %>
<script type="text/javascript">          
    Event.observe(window,'load',function(evt){
        Event.observe(window,'scroll', function(evt){
          update_moving_div();
        });
    });

    update_moving_div = function() {
      top_padding = 20;

      //little confusing... y values go up as the user scrolls down...
      min_y = $('active_product').cumulativeOffset().top - top_padding;
      max_y = $('content').cumulativeOffset().top + $('content').getHeight() - $('moving_div').getHeight();

      //if the user's browser is big enough to show the entire moving div at once
      //if (document.viewport.getHeight() > $('moving_div').getHeight()) {
        if(document.viewport.getScrollOffsets().top > min_y && document.viewport.getScrollOffsets().top < max_y) {
          $('moving_div').setStyle({ top: 4 + (document.viewport.getScrollOffsets().top - min_y) + 'px' });
          //new Effect.Move('moving_div', { x: 20, y: 4 + (document.viewport.getScrollOffsets().top - min_y), mode: 'absolute' });
        } else if (document.viewport.getScrollOffsets().top < min_y) {
          $('moving_div').setStyle({ top: '4px' });
        } else if (document.viewport.getScrollOffsets().top > max_y) {
          $('moving_div').setStyle({ top: (max_y-min_y)+'px'});
        }
      //} else {
      //
      //}
    };

    auto_update_moving_div = function() {
      console.log('auto updating');
      update_moving_div();
      setTimeout('auto_update_moving_div()',1000);
    };

    show_product = function(new_image) {
      $$('#image img')[0].replace('<img src="'+new_image+'" alt=""/>');
    };
</script>
<div id="active_product">
  &nbsp;
  <div id="moving_div">
    <%= render :partial => 'product_details', :locals => {:product => @store.mens_products.first} %>
  </div>
</div>
<div id="products">
  <table id="mens_and_womens" cellspacing="4px">
    <tr>
      <% if @store.mens_products.length > 0 %>
        <td id="mens">
          <h2>MEN'S</h2>
          <div class="thumbnails">
            <% @store.mens_products.each do |product| %>
              <%= link_to(product_path(product), :remote => true) do %>
                <%= image_tag(product.default_front_thumbnail_url, :alt => '') %>
              <% end %>
            <% end %>
          </div>
        </td>
      <% end %>
      <% if @store.womens_products.length > 0 %>
        <td id="womens">
          <h2>WOMEN'S</h2>
          <div class="thumbnails">
            <% @store.womens_products.each do |product| %>
              <%= link_to(product_path(product), :remote => true) do %>
                <%= image_tag(product.default_front_thumbnail_url, :alt => '') %>
              <% end %>
            <% end %>
          </div>
        </td>
      <% end %>
    </tr>
  </table>

  <% if @store.unisex_products.length > 0 %>
    <div id="unisex">
      <h2>UNISEX</h2>
      <div class="thumbnails">
        <% @store.unisex_products.each do |product| %>
          <%= link_to(product_path(product), :remote => true) do %>
            <%= image_tag(product.default_front_thumbnail_url, :alt => '') %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div style="clear:both;"></div>