<div class="menu">
  <ul>
    <li class="first"><%= link_to 'Home', root_url %></li>
    <li><%= link_to 'Photos', ::CAFEPRESS_CONFIG['photos_url'], :target => '_photos' %></li>
    <li><%= link_to 'About', content_about_path %></li>
    <li><%= link_to 'Contact', content_contact_path %></li>
    <li><%= link_to 'RSS', '/feed.rss' %></li>
  </ul>
</div>